### **Climacell Project**

In [1]:
import requests
import pandas as pd
from env import key, client
import datetime
from datetime import date
import json

**Real Time Climate Data**

In [2]:
# This request is the San Antonio Botanical Garden. It returns realtime data for the identified fields.
response = client.realtime(lat= 29.4576, lon=98.4587, fields=['precipitation', 'temp', 'humidity', 'wind_speed', 'cloud_cover'])
# Returns status code (Query Successful or Not)
print(response.status_code)
# Create df of results to visualize
data = response.json()
df = pd.DataFrame(data)
df.head()

200

,lat,lon,temp,wind_speed,humidity,precipitation,cloud_cover,observation_time
value,29.4576,98.4587,9,1.75,63.63,0,0,2020-10-25T19:45:09.462Z
units,29.4576,98.4587,C,m/s,%,mm/hr,%,NaN

**Historical Climate Data**

In [3]:
# First you need to formatt the date correctly
def date_in_java():
    #import datetime
    now = datetime.datetime.now()
    iso_time = now.strftime("%Y-%m-%dT%H:%M:%SZ") 
    return iso_time

In [4]:
date = date_in_java()
date

'2020-10-25T14:45:09Z'

In [5]:
'2020-06-22T20:47:00Z'

'2020-06-22T20:47:00Z'

In [8]:
# This request is the San Antonio Botanical Garden. It returns historical data for the identified fields.
response = client.historical_climacell(lat= 29.4576, lon=98.4587, timestep = 30, start_time = '2020-10-25T14:45:09Z', end_time ='now', fields=["feels_like", "dewpoint", "wind_direction", 
                                                            "wind_gust", "baro_pressure", "precipitation", 
                                                            "precipitation_type","temp", "humidity", 
                                                            "wind_speed", "cloud_cover","visibility",
                                                            "cloud_base", "cloud_ceiling"])                                                                                                                 
# Returns status code (Query Successful or Not)
print(response.status_code)
# Create df of results to visualize
data = response.json()

200

In [21]:
df.head()

,lat,lon,temp,feels_like,dewpoint,wind_speed,wind_gust,baro_pressure,visibility,precipitation,cloud_cover,cloud_ceiling,cloud_base,humidity,wind_direction,precipitation_type,observation_time
0,29.4576,98.4587,"{'value': 11.09, 'units': 'C'}","{'value': 11.09, 'units': 'C'}","{'value': 4.47, 'units': 'C'}","{'value': 2.42, 'units': 'm/s'}","{'value': 3.87, 'units': 'm/s'}","{'value': 1007.7834, 'units': 'hPa'}","{'value': 10, 'units': 'km'}","{'value': 0, 'units': 'mm/hr'}","{'value': 0, 'units': '%'}","{'value': None, 'units': 'm'}","{'value': None, 'units': 'm'}","{'value': 63.57, 'units': '%'}","{'value': 158.13, 'units': 'degrees'}",{'value': 'none'},{'value': '2020-10-25T14:45:09.000Z'}
1,29.4576,98.4587,"{'value': 10.78, 'units': 'C'}","{'value': 10.78, 'units': 'C'}","{'value': 4.28, 'units': 'C'}","{'value': 2.33, 'units': 'm/s'}","{'value': 3.75, 'units': 'm/s'}","{'value': 1008.2209, 'units': 'hPa'}","{'value': 10, 'units': 'km'}","{'value': 0, 'units': 'mm/hr'}","{'value': 0, 'units': '%'}","{'value': None, 'units': 'm'}","{'value': None, 'units': 'm'}","{'value': 64.07, 'units': '%'}","{'value': 158.13, 'units': 'degrees'}",{'value': 'none'},{'value': '2020-10-25T15:15:09.000Z'}
2,29.4576,98.4587,"{'value': 10.47, 'units': 'C'}","{'value': 10.47, 'units': 'C'}","{'value': 4.09, 'units': 'C'}","{'value': 2.23, 'units': 'm/s'}","{'value': 3.62, 'units': 'm/s'}","{'value': 1008.6584, 'units': 'hPa'}","{'value': 10, 'units': 'km'}","{'value': 0, 'units': 'mm/hr'}","{'value': 0, 'units': '%'}","{'value': None, 'units': 'm'}","{'value': None, 'units': 'm'}","{'value': 64.57, 'units': '%'}","{'value': 158.13, 'units': 'degrees'}",{'value': 'none'},{'value': '2020-10-25T15:45:09.000Z'}
3,29.4576,98.4587,"{'value': 10.22, 'units': 'C'}","{'value': 10.22, 'units': 'C'}","{'value': 3.91, 'units': 'C'}","{'value': 2.16, 'units': 'm/s'}","{'value': 3.5, 'units': 'm/s'}","{'value': 1008.9381, 'units': 'hPa'}","{'value': 10, 'units': 'km'}","{'value': 0, 'units': 'mm/hr'}","{'value': 0, 'units': '%'}","{'value': None, 'units': 'm'}","{'value': None, 'units': 'm'}","{'value': 64.78, 'units': '%'}","{'value': 157.88, 'units': 'degrees'}",{'value': 'none'},{'value': '2020-10-25T16:15:09.000Z'}
4,29.4576,98.4587,"{'value': 10.03, 'units': 'C'}","{'value': 10.03, 'units': 'C'}","{'value': 3.72, 'units': 'C'}","{'value': 2.09, 'units': 'm/s'}","{'value': 3.37, 'units': 'm/s'}","{'value': 1009.0631, 'units': 'hPa'}","{'value': 10, 'units': 'km'}","{'value': 0, 'units': 'mm/hr'}","{'value': 0, 'units': '%'}","{'value': None, 'units': 'm'}","{'value': None, 'units': 'm'}","{'value': 64.72, 'units': '%'}","{'value': 157.88, 'units': 'degrees'}",{'value': 'none'},{'value': '2020-10-25T16:45:09.000Z'}

### International Space Station (# of People Currently In Space)

In [17]:
response = requests.get('http://api.open-notify.org/astros.json')
# Will Request Be Sucessful
response.status_code

200

In [18]:
# Print Response
print(response.json())

{'message': 'success', 'people': [{'name': 'Sergey Ryzhikov', 'craft': 'ISS'}, {'name': 'Kate Rubins', 'craft': 'ISS'}, {'name': 'Sergey Kud-Sverchkov', 'craft': 'ISS'}], 'number': 3}

In [20]:
# Function to dump response in to a formatted string

import json

def jprint(obj):
    # create a formatted string of the Python JSON object
    text = json.dumps(obj, sort_keys=True, indent=4)
    print(text)

jprint(response.json())

{
    "message": "success",
    "number": 3,
    "people": [
        {
            "craft": "ISS",
            "name": "Sergey Ryzhikov"
        },
        {
            "craft": "ISS",
            "name": "Kate Rubins"
        },
        {
            "craft": "ISS",
            "name": "Sergey Kud-Sverchkov"
        }
    ]
}