### Data Prep Exercises
***Corey Solitaire***
10/27/2020

In [ ]:
# import pandas as pd
# import numpy as np

# import seaborn as sns
# import matplotlib.pyplot as plt

# plt.rc('figure', figsize=(11, 9))
# plt.rc('font', size=13)

# import requests
# import os
# from datetime import timedelta, datetime as dt

# from ts_acquire import get_store_data

# ############################ Plot Distributions for a Column ##################################

# def hist_plot(df, col, unit_label='', bins=10):
#     """
#     This function takes in a DataFrame, 
#     a string for column name or list,
#     a string for unit label, default empty,
#     and an integer for number of bins, default 10, and
#     displays the distribution of the column.
#     """
#     plt.hist(df[col], bins=bins, color='thistle', ec='black')
#     plt.title('Distribution of ' + col)
#     plt.xlabel(unit_label)
#     plt.ylabel('Count')
#     plt.show()

# ############################# Function for numeric distributions #################################

# def numeric_hists(df, bins=20):
#     """
#     Function to take in a DataFrame, bins default 20,
#     select only numeric dtypes, and
#     display histograms for each numeric column
#     """
#     num_df = df.select_dtypes(include=np.number)
#     num_df.hist(bins=bins, color='thistle', ec='black')
#     plt.suptitle('Numeric Column Distributions')
#     plt.show()

# ######################## Function to acquire df and prep store data ####################

# def prepped_store_df():
#     """
#     Function to acquire and prepare
#     store dataframe and show
#     distributions for numeric columns
#     """
#     # Acquire the df
#     df = df.get_store_data()
    
#     # Convert sale_date to DateTimeIndex
#     df['sale_date'] = pd.to_datetime(df.sale_date)
#     df = df.set_index('sale_date').sort_index()
    
#     # Create date part columns
#     df['month'] = df.index.month
#     df['weekday'] = df.index.day_name()
    
#     # Create calculated columns
#     df = df.assign(sales_total = df.sale_amount * df.item_price)
#     df = df.assign(sales_diff = df.sales_total.diff(periods=1))
    
#     # Change dtypes of numeric columns to object and category
#     df = (df.astype({'sale_id': object, 'store_id': object, 
#                      'store_zipcode': object, 'item_id': object, 
#                      'item_upc12': object, 'item_upc14': object, 
#                      'month': 'category', 'weekday': 'category'}))
    
#     # Display distributions of numeric columns
#     numeric_hists(df)

In [1]:
import acquire
import pandas as pd

In [2]:
df = acquire.read_csv("zach_complete_df.csv")
df = df.drop(['Unnamed: 0', 'Unnamed: 0_x', 'Unnamed: 0_y', 'Unnamed: 0.1'], axis =1)
df.head()

,item,sale_amount,sale_date,sale_id,store,store_address,store_city,store_id,store_state,store_zipcode,item_brand,item_id,item_name,item_price,item_upc12,item_upc14
0,1,13.0,"Tue, 01 Jan 2013 00:00:00 GMT",1,1,12125 Alamo Ranch Pkwy,San Antonio,1,TX,78253,Riceland,1,Riceland American Jazmine Rice,0.84,35200264013,35200264013
1,1,11.0,"Wed, 02 Jan 2013 00:00:00 GMT",2,1,12125 Alamo Ranch Pkwy,San Antonio,1,TX,78253,Riceland,1,Riceland American Jazmine Rice,0.84,35200264013,35200264013
2,1,14.0,"Thu, 03 Jan 2013 00:00:00 GMT",3,1,12125 Alamo Ranch Pkwy,San Antonio,1,TX,78253,Riceland,1,Riceland American Jazmine Rice,0.84,35200264013,35200264013
3,1,13.0,"Fri, 04 Jan 2013 00:00:00 GMT",4,1,12125 Alamo Ranch Pkwy,San Antonio,1,TX,78253,Riceland,1,Riceland American Jazmine Rice,0.84,35200264013,35200264013
4,1,10.0,"Sat, 05 Jan 2013 00:00:00 GMT",5,1,12125 Alamo Ranch Pkwy,San Antonio,1,TX,78253,Riceland,1,Riceland American Jazmine Rice,0.84,35200264013,35200264013

Index(['item', 'sale_amount', 'sale_date', 'sale_id', 'store', 'store_address',
       'store_city', 'store_id', 'store_state', 'store_zipcode', 'item_brand',
       'item_id', 'item_name', 'item_price', 'item_upc12', 'item_upc14'],
      dtype='object')