### Talking to API
*Corey Solitaire*   
10/22/2020

In [1]:
import requests
import pandas as pd

In [2]:
# Base url is where the data is located
base_url = 'https://python.zach.lol'
# requests.get - querries the database
# base_url - tells the request where to go
# .text is the data that is displayed back to you (raw response text)
print(requests.get(base_url).text)

{"api":"/api/v1","help":"/documentation"}

#### If an API has documentation you should examine what it says

***

In [3]:
documentation = requests.get("https://python.zach.lol/documentation").json()
documentation

{'payload': '\nThe API accepts GET requests for all endpoints, where endpoints are prefixed\nwith\n\n    /api/{version}\n\nWhere version is "v1"\n\nValid endpoints:\n\n- /stores[/{store_id}]\n- /items[/{item_id}]\n- /sales[/{sale_id}]\n\nAll endpoints accept a `page` parameter that can be used to navigate through\nthe results.\n',
 'status': 'ok'}

#### If you see \n,  you should probably print to see the whole message

***

In [4]:
# Printing out the entire message to read
base_url = 'https://python.zach.lol'
response = requests.get(base_url + '/documentation')
print(response.json()['payload'])

The API accepts GET requests for all endpoints, where endpoints are prefixed
with

    /api/{version}

Where version is "v1"

Valid endpoints:

- /stores[/{store_id}]
- /items[/{item_id}]
- /sales[/{sale_id}]

All endpoints accept a `page` parameter that can be used to navigate through
the results.

***

#### Takeaway:
1. the api is v1, so you must append /api/v1 on the end of the url
2. 3 endpoints or or indexes (stores, items, sales) on this website

***

In [5]:
# For each of the endpoints take a look at the dictonary keys
response = requests.get('https://python.zach.lol/api/v1/stores')

data = response.json()
data.keys()

dict_keys(['payload', 'status'])

In [6]:
response = requests.get('https://python.zach.lol/api/v1/items')

data = response.json()
data.keys()

dict_keys(['payload', 'status'])

In [7]:
response = requests.get('https://python.zach.lol/api/v1/sales')

data = response.json()
data.keys()

dict_keys(['payload', 'status'])

#### Each endpoint has the same dict_keys

***

<div class="alert alert-block alert-warning"></div>

# Exercise #1. Using the code from the lesson as a guide, create a dataframe named items that has all of the data for items.

In [8]:
response = requests.get('https://python.zach.lol/api/v1/items')
data = response.json()
data.keys()

dict_keys(['payload', 'status'])

In [9]:
# Explore the dictonary inside of payload
data['payload'].keys()

dict_keys(['items', 'max_page', 'next_page', 'page', 'previous_page'])

In [10]:
data['payload']['max_page']

3

#### The Items Dataframe has 3 Pages

***

In [11]:
# 1st Page of Items
# visiting the url
response = requests.get('https://python.zach.lol/api/v1/items')

# reading the data as json script and saving it as data
data = response.json()
# taking a peak into the data
data

{'payload': {'items': [{'item_brand': 'Riceland',
    'item_id': 1,
    'item_name': 'Riceland American Jazmine Rice',
    'item_price': 0.84,
    'item_upc12': '35200264013',
    'item_upc14': '35200264013'},
   {'item_brand': 'Caress',
    'item_id': 2,
    'item_name': 'Caress Velvet Bliss Ultra Silkening Beauty Bar - 6 Ct',
    'item_price': 6.44,
    'item_upc12': '11111065925',
    'item_upc14': '11111065925'},
   {'item_brand': 'Earths Best',
    'item_id': 3,
    'item_name': 'Earths Best Organic Fruit Yogurt Smoothie Mixed Berry',
    'item_price': 2.43,
    'item_upc12': '23923330139',
    'item_upc14': '23923330139'},
   {'item_brand': 'Boars Head',
    'item_id': 4,
    'item_name': 'Boars Head Sliced White American Cheese - 120 Ct',
    'item_price': 3.14,
    'item_upc12': '208528800007',
    'item_upc14': '208528800007'},
   {'item_brand': 'Back To Nature',
    'item_id': 5,
    'item_name': 'Back To Nature Gluten Free White Cheddar Rice Thin Crackers',
    'item_price': 2.61,
    'item_upc12': '759283100036',
    'item_upc14': '759283100036'},
   {'item_brand': 'Sally Hansen',
    'item_id': 6,
    'item_name': 'Sally Hansen Nail Color Magnetic 903 Silver Elements',
    'item_price': 6.93,
    'item_upc12': '74170388732',
    'item_upc14': '74170388732'},
   {'item_brand': 'Twinings Of London',
    'item_id': 7,
    'item_name': 'Twinings Of London Classics Lady Grey Tea - 20 Ct',
    'item_price': 9.64,
    'item_upc12': '70177154004',
    'item_upc14': '70177154004'},
   {'item_brand': 'Lea & Perrins',
    'item_id': 8,
    'item_name': 'Lea & Perrins Marinade In-a-bag Cracked Peppercorn',
    'item_price': 1.68,
    'item_upc12': '51600080015',
    'item_upc14': '51600080015'},
   {'item_brand': 'Van De Kamps',
    'item_id': 9,
    'item_name': 'Van De Kamps Fillets Beer Battered - 10 Ct',
    'item_price': 1.79,
    'item_upc12': '19600923015',
    'item_upc14': '19600923015'},
   {'item_brand': 'Ahold',
    'item_id': 10,
    'item_name': 'Ahold Cocoa Almonds',
    'item_price': 3.17,
    'item_upc12': '688267141676',
    'item_upc14': '688267141676'},
   {'item_brand': 'Honest Tea',
    'item_id': 11,
    'item_name': 'Honest Tea Peach White Tea',
    'item_price': 3.93,
    'item_upc12': '657622604842',
    'item_upc14': '657622604842'},
   {'item_brand': 'Mueller',
    'item_id': 12,
    'item_name': 'Mueller Sport Care Basic Support Level Medium Elastic Knee Support',
    'item_price': 8.4,
    'item_upc12': '74676640211',
    'item_upc14': '74676640211'},
   {'item_brand': 'Garnier Nutritioniste',
    'item_id': 13,
    'item_name': 'Garnier Nutritioniste Moisture Rescue Fresh Cleansing Foam',
    'item_price': 6.47,
    'item_upc12': '603084234561',
    'item_upc14': '603084234561'},
   {'item_brand': 'Pamprin',
    'item_id': 14,
    'item_name': 'Pamprin Maximum Strength Multi-symptom Menstrual Pain Relief',
    'item_price': 7.54,
    'item_upc12': '41167300121',
    'item_upc14': '41167300121'},
   {'item_brand': 'Suave',
    'item_id': 15,
    'item_name': 'Suave Naturals Moisturizing Body Wash Creamy Tropical Coconut',
    'item_price': 9.11,
    'item_upc12': '79400847201',
    'item_upc14': '79400847201'},
   {'item_brand': 'Burts Bees',
    'item_id': 16,
    'item_name': 'Burts Bees Daily Moisturizing Cream Sensitive',
    'item_price': 5.17,
    'item_upc12': '792850014008',
    'item_upc14': '792850014008'},
   {'item_brand': 'Ducal',
    'item_id': 17,
    'item_name': 'Ducal Refried Red Beans',
    'item_price': 1.16,
    'item_upc12': '88313590791',
    'item_upc14': '88313590791'},
   {'item_brand': 'Scotch',
    'item_id': 18,
    'item_name': 'Scotch Removable Clear Mounting Squares - 35 Ct',
    'item_price': 4.39,
    'item_upc12': '21200725340',
    'item_upc14': '21200725340'},
   {'item_brand': 'Careone',
    'item_id': 19,
    'item_name': 'Careone Family Comb Set - 8 Ct',
    'item_price': 0.74,
    'item_upc12': '41520035646',
    'item_upc14': '41520035646'},
   {'item_brand': 'Usda Produce',
    'item_id': 20,
    'item_name': 'Plums Black',
    'item_price': 5.62,
    'item_upc12': '204040000000',
    'item_upc14': '204040000000'}],
  'max_page': 3,
  'next_page': '/api/v1/items?page=2',
  'page': 1,
  'previous_page': None},
 'status': 'ok'}

In [12]:
# Second Page of Items
response = requests.get(base_url + data['payload']['next_page'])
data = response.json()
data

{'payload': {'items': [{'item_brand': 'Doctors Best',
    'item_id': 21,
    'item_name': 'Doctors Best Best Curcumin C3 Complex 1000mg Tablets - 120 Ct',
    'item_price': 8.09,
    'item_upc12': '753950001954',
    'item_upc14': '753950001954'},
   {'item_brand': 'Betty Crocker',
    'item_id': 22,
    'item_name': 'Betty Crocker Twin Pack Real Potatoes Scalloped 2 Pouches For 2 Meals - 2 Pk',
    'item_price': 7.31,
    'item_upc12': '16000288829',
    'item_upc14': '16000288829'},
   {'item_brand': 'Reese',
    'item_id': 23,
    'item_name': 'Reese Mandarin Oranges Segments In Light Syrup',
    'item_price': 1.78,
    'item_upc12': '70670009658',
    'item_upc14': '70670009658'},
   {'item_brand': 'Smart Living',
    'item_id': 24,
    'item_name': 'Smart Living Charcoal Lighter Fluid',
    'item_price': 5.34,
    'item_upc12': '688267084225',
    'item_upc14': '688267084225'},
   {'item_brand': 'Hood',
    'item_id': 25,
    'item_name': 'Hood Latte Iced Coffee Drink Vanilla Latte',
    'item_price': 2.43,
    'item_upc12': '44100117428',
    'item_upc14': '44100117428'},
   {'item_brand': 'Triaminic',
    'item_id': 26,
    'item_name': 'Triaminic Syrup Night Time Cold & Cough Grape 4oz',
    'item_price': 0.98,
    'item_upc12': '300436344045',
    'item_upc14': '300436344045'},
   {'item_brand': 'Morton',
    'item_id': 27,
    'item_name': 'Morton Kosher Salt Coarse',
    'item_price': 6.01,
    'item_upc12': '24600017008',
    'item_upc14': '24600017008'},
   {'item_brand': 'Usda Produce',
    'item_id': 28,
    'item_name': 'Guava',
    'item_price': 7.52,
    'item_upc12': '719175900007',
    'item_upc14': '719175900007'},
   {'item_brand': 'Heinz',
    'item_id': 29,
    'item_name': 'Heinz Tomato Ketchup - 2 Ct',
    'item_price': 8.65,
    'item_upc12': '13000001038',
    'item_upc14': '13000001038'},
   {'item_brand': 'Petmate',
    'item_id': 30,
    'item_name': 'Petmate Booda Bones Steak Bacon & Chicken Flavors - 9 Ct',
    'item_price': 8.39,
    'item_upc12': '723503568678',
    'item_upc14': '723503568678'},
   {'item_brand': 'Zhenas Gypsy Tea',
    'item_id': 31,
    'item_name': 'Zhenas Gypsy Tea Herbal Red Tea Sachets Fire Light Chai - 22 Ct',
    'item_price': 4.21,
    'item_upc12': '652790100226',
    'item_upc14': '652790100226'},
   {'item_brand': 'Barefoot',
    'item_id': 32,
    'item_name': 'Barefoot Pinot Grigio  187',
    'item_price': 0.68,
    'item_upc12': '8500004528',
    'item_upc14': '8500004528'},
   {'item_brand': 'The First Years',
    'item_id': 33,
    'item_name': 'Tomy The First Years Gumdrop Orthodontic Pacifiers 6m+ - 2ct',
    'item_price': 6.52,
    'item_upc12': '71463060078',
    'item_upc14': '71463060078'},
   {'item_brand': 'Halls',
    'item_id': 34,
    'item_name': 'Halls Menthol Cough Suppresant/oral Anesthetic Drops Honey-lemon - 30 Ct',
    'item_price': 4.17,
    'item_upc12': '312546628694',
    'item_upc14': '312546628694'},
   {'item_brand': 'Natures Way',
    'item_id': 35,
    'item_name': 'Natures Way Forskohlii - 60 Ct',
    'item_price': 5.19,
    'item_upc12': '33674100066',
    'item_upc14': '33674100066'},
   {'item_brand': 'Deerfields Gluten Free',
    'item_id': 36,
    'item_name': 'Rice Bran Gluten Free Dinner Rolls Plain',
    'item_price': 7.95,
    'item_upc12': '610358991525',
    'item_upc14': '610358991525'},
   {'item_brand': 'Nakano',
    'item_id': 37,
    'item_name': 'Nakano Seasoned Rice Vinegar Original',
    'item_price': 9.59,
    'item_upc12': '73575295003',
    'item_upc14': '73575295003'},
   {'item_brand': 'Sundown Naturals',
    'item_id': 38,
    'item_name': 'Sundown Naturals Essential Electrolytes Tropical Punch Watermelon And Fruit Punch Gummies - 60 Ct',
    'item_price': 3.45,
    'item_upc12': '30768540548',
    'item_upc14': '30768540548'},
   {'item_brand': 'Munchies',
    'item_id': 39,
    'item_name': 'Munchies Sandwich Crackers Cheddar Cheese On Golden Toast Crackers - 8 Pk',
    'item_price': 9.02,
    'item_upc12': '28400029254',
    'item_upc14': '28400029254'},
   {'item_brand': 'Amys',
    'item_id': 40,
    'item_name': 'Amys Light & Lean Spaghetti Italiano',
    'item_price': 0.6,
    'item_upc12': '42272008063',
    'item_upc14': '42272008063'}],
  'max_page': 3,
  'next_page': '/api/v1/items?page=3',
  'page': 2,
  'previous_page': '/api/v1/items?page=1'},
 'status': 'ok'}

In [13]:
# Third Page of Items
response = requests.get(base_url + data['payload']['next_page'])
data = response.json()
data

{'payload': {'items': [{'item_brand': 'P.f. Changs',
    'item_id': 41,
    'item_name': 'P.f. Changs Home Menu Meal For Two Beef With Broccoli',
    'item_price': 5.62,
    'item_upc12': '31000670016',
    'item_upc14': '31000670016'},
   {'item_brand': 'Moms Best Naturals',
    'item_id': 42,
    'item_name': 'Moms Best Naturals Cereal Toasted Cinnamon Squares',
    'item_price': 2.97,
    'item_upc12': '883978129115',
    'item_upc14': '883978129115'},
   {'item_brand': 'Ferrara',
    'item_id': 43,
    'item_name': 'Ferrara Vanilla Syrup',
    'item_price': 8.4,
    'item_upc12': '71403000379',
    'item_upc14': '71403000379'},
   {'item_brand': 'Elmers',
    'item_id': 44,
    'item_name': 'Elmers Board Mate Dual Tip Glue Pen',
    'item_price': 7.06,
    'item_upc12': '26000001403',
    'item_upc14': '26000001403'},
   {'item_brand': 'Kelloggs',
    'item_id': 45,
    'item_name': 'Kelloggs Disney Pixar Cars 2 Cereal',
    'item_price': 4.4,
    'item_upc12': '38000542237',
    'item_upc14': '38000542237'},
   {'item_brand': 'Mama Marys',
    'item_id': 46,
    'item_name': 'Pizza Sauce',
    'item_price': 4.65,
    'item_upc12': '35457770664',
    'item_upc14': '35457770664'},
   {'item_brand': 'Bear Naked',
    'item_id': 47,
    'item_name': 'Bear Naked Fit Almond Crisp 100 Percent Natural Energy Cereal',
    'item_price': 7.38,
    'item_upc12': '884623708976',
    'item_upc14': '884623708976'},
   {'item_brand': 'Dove',
    'item_id': 48,
    'item_name': 'Dove Men + Care Antiperspirant Deodorant Cool Silver',
    'item_price': 3.72,
    'item_upc12': '79400271631',
    'item_upc14': '79400271631'},
   {'item_brand': 'Easy-off',
    'item_id': 49,
    'item_name': 'Easy-off Oven Cleaner Lemon Scent',
    'item_price': 9.54,
    'item_upc12': '62338879772',
    'item_upc14': '62338879772'},
   {'item_brand': 'Choice',
    'item_id': 50,
    'item_name': 'Choice Organic Teas Black Tea Classic Black - 16 Ct',
    'item_price': 5.2,
    'item_upc12': '47445919221',
    'item_upc14': '47445919221'}],
  'max_page': 3,
  'next_page': None,
  'page': 3,
  'previous_page': '/api/v1/items?page=2'},
 'status': 'ok'}

#### I know that I need a df with 50 unique items
***

In [14]:
# 1st Page of Items
response = requests.get('https://python.zach.lol/api/v1/items')
# reading the data as json script and saving it as data
data = response.json()
#saving the items page as a dataframe
items = pd.DataFrame(data['payload']['items'])
#taking a peak into the items dataframe
items.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   item_brand  20 non-null     object
 1   item_id     20 non-null     int64
 2   item_name   20 non-null     object
 3   item_price  20 non-null     float64
 4   item_upc12  20 non-null     object
 5   item_upc14  20 non-null     object
dtypes: float64(1), int64(1), object(4)
memory usage: 1.1+ KB

In [15]:
# Second Page of Items
response = requests.get(base_url + data['payload']['next_page'])
data = response.json()
#adding the new page of data into the existing dataframe
items = pd.concat([items, pd.DataFrame(data['payload']['items'])], ignore_index=True)
#taking a peak into the items dataframe
items.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40 entries, 0 to 39
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   item_brand  40 non-null     object
 1   item_id     40 non-null     int64
 2   item_name   40 non-null     object
 3   item_price  40 non-null     float64
 4   item_upc12  40 non-null     object
 5   item_upc14  40 non-null     object
dtypes: float64(1), int64(1), object(4)
memory usage: 2.0+ KB

In [16]:
# Third Page of Items
response = requests.get(base_url + data['payload']['next_page'])
data = response.json()
#adding the new page of data into the existing dataframe
items = pd.concat([items, pd.DataFrame(data['payload']['items'])], ignore_index=True)
#checking the items dataframe
items.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   item_brand  50 non-null     object
 1   item_id     50 non-null     int64
 2   item_name   50 non-null     object
 3   item_price  50 non-null     float64
 4   item_upc12  50 non-null     object
 5   item_upc14  50 non-null     object
dtypes: float64(1), int64(1), object(4)
memory usage: 2.5+ KB

In [17]:
# Check df
items.head()

,item_brand,item_id,item_name,item_price,item_upc12,item_upc14
0,Riceland,1,Riceland American Jazmine Rice,0.84,35200264013,35200264013
1,Caress,2,Caress Velvet Bliss Ultra Silkening Beauty Bar...,6.44,11111065925,11111065925
2,Earths Best,3,Earths Best Organic Fruit Yogurt Smoothie Mixe...,2.43,23923330139,23923330139
3,Boars Head,4,Boars Head Sliced White American Cheese - 120 Ct,3.14,208528800007,208528800007
4,Back To Nature,5,Back To Nature Gluten Free White Cheddar Rice ...,2.61,759283100036,759283100036

In [18]:
# save as csv
#items.to_csv('zach_items.csv')

<div class="alert alert-block alert-warning"></div>

# Exercise #2. Using the code from the lesson as a guide, create a dataframe named stores that has all of the data for stores

In [19]:
# Find the dict_keys in stores
response = requests.get('https://python.zach.lol/api/v1/stores')
data = response.json()
data.keys()

dict_keys(['payload', 'status'])

In [20]:
# Explore the dictonary inside of payload
data['payload'].keys()

dict_keys(['max_page', 'next_page', 'page', 'previous_page', 'stores'])

In [21]:
# Explore the max number of pages
data['payload']['max_page']

1

In [22]:
# 1st Page of Stores
response = requests.get('https://python.zach.lol/api/v1/stores')
# reading the data as json script and saving it as data
data = response.json()
data

{'payload': {'max_page': 1,
  'next_page': None,
  'page': 1,
  'previous_page': None,
  'stores': [{'store_address': '12125 Alamo Ranch Pkwy',
    'store_city': 'San Antonio',
    'store_id': 1,
    'store_state': 'TX',
    'store_zipcode': '78253'},
   {'store_address': '9255 FM 471 West',
    'store_city': 'San Antonio',
    'store_id': 2,
    'store_state': 'TX',
    'store_zipcode': '78251'},
   {'store_address': '2118 Fredericksburg Rdj',
    'store_city': 'San Antonio',
    'store_id': 3,
    'store_state': 'TX',
    'store_zipcode': '78201'},
   {'store_address': '516 S Flores St',
    'store_city': 'San Antonio',
    'store_id': 4,
    'store_state': 'TX',
    'store_zipcode': '78204'},
   {'store_address': '1520 Austin Hwy',
    'store_city': 'San Antonio',
    'store_id': 5,
    'store_state': 'TX',
    'store_zipcode': '78218'},
   {'store_address': '1015 S WW White Rd',
    'store_city': 'San Antonio',
    'store_id': 6,
    'store_state': 'TX',
    'store_zipcode': '78220'},
   {'store_address': '12018 Perrin Beitel Rd',
    'store_city': 'San Antonio',
    'store_id': 7,
    'store_state': 'TX',
    'store_zipcode': '78217'},
   {'store_address': '15000 San Pedro Ave',
    'store_city': 'San Antonio',
    'store_id': 8,
    'store_state': 'TX',
    'store_zipcode': '78232'},
   {'store_address': '735 SW Military Dr',
    'store_city': 'San Antonio',
    'store_id': 9,
    'store_state': 'TX',
    'store_zipcode': '78221'},
   {'store_address': '8503 NW Military Hwy',
    'store_city': 'San Antonio',
    'store_id': 10,
    'store_state': 'TX',
    'store_zipcode': '78231'}]},
 'status': 'ok'}

In [23]:
#saving the items page as a dataframe
stores = pd.DataFrame(data['payload']['stores'])
#taking a peak into the items dataframe
stores.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   store_address  10 non-null     object
 1   store_city     10 non-null     object
 2   store_id       10 non-null     int64
 3   store_state    10 non-null     object
 4   store_zipcode  10 non-null     object
dtypes: int64(1), object(4)
memory usage: 528.0+ bytes

In [24]:
# Check df
stores.head()

             store_address   store_city  store_id store_state store_zipcode
0   12125 Alamo Ranch Pkwy  San Antonio         1          TX         78253
1         9255 FM 471 West  San Antonio         2          TX         78251
2  2118 Fredericksburg Rdj  San Antonio         3          TX         78201
3          516 S Flores St  San Antonio         4          TX         78204
4          1520 Austin Hwy  San Antonio         5          TX         78218

In [25]:
# save as csv
#stores.to_csv('zach_stores.csv')

# Exercise #3. Extract the data for sales. There are a lot of pages of data here, so your code will need to be a little more complex. Your code should continue fetching data from the next page until all of the data is extracted.

In [26]:
# find the dict_keys in sales
response = requests.get('https://python.zach.lol/api/v1/sales')
data = response.json()
data.keys()

dict_keys(['payload', 'status'])

In [27]:
# find the dict_keys in payload
data['payload'].keys()

dict_keys(['max_page', 'next_page', 'page', 'previous_page', 'sales'])

In [28]:
# Explore the max number of pages
data['payload']['max_page']

183

In [29]:
# Use function to extract data

def get_items():
    '''
    This function retrieves all items of all pages
    from the base url api and saves it as a dataframe
    '''
    #saving the base url
    base_url = 'https://python.zach.lol'
    #opening/visiting the url
    response = requests.get('https://python.zach.lol/api/v1/sales')
    #saving the data as a json script
    data = response.json()
    #saving the json script as a dataframe
    df = pd.DataFrame(data['payload']['sales'])
    #creating a loop to scan all the items pages
    for number in range(1, data['payload']['max_page']):
        #moving into the next page of items
        response = requests.get(base_url + data['payload']['next_page'])
        #saving the as a json script
        data = response.json()
        #adding the next page of items onto the original dataframe
        df = pd.concat([df, pd.DataFrame(data['payload']['sales'])], ignore_index=True)
    return df

In [30]:
sales = get_items()
sales.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 913000 entries, 0 to 912999
Data columns (total 5 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   item         913000 non-null  int64
 1   sale_amount  913000 non-null  float64
 2   sale_date    913000 non-null  object
 3   sale_id      913000 non-null  int64
 4   store        913000 non-null  int64
dtypes: float64(1), int64(3), object(1)
memory usage: 34.8+ MB

In [34]:
# save as csv
#sales.to_csv('zach_sales.csv')

<div class="alert alert-block alert-warning"></div>

# Exercise 4. Save the data in your files to local csv files so that it will be faster to access in the future.

In [36]:
items = pd.read_csv('zach_items.csv')
items.head()

,Unnamed: 0,item_brand,item_id,item_name,item_price,item_upc12,item_upc14
0,0,Riceland,1,Riceland American Jazmine Rice,0.84,35200264013,35200264013
1,1,Caress,2,Caress Velvet Bliss Ultra Silkening Beauty Bar...,6.44,11111065925,11111065925
2,2,Earths Best,3,Earths Best Organic Fruit Yogurt Smoothie Mixe...,2.43,23923330139,23923330139
3,3,Boars Head,4,Boars Head Sliced White American Cheese - 120 Ct,3.14,208528800007,208528800007
4,4,Back To Nature,5,Back To Nature Gluten Free White Cheddar Rice ...,2.61,759283100036,759283100036

In [37]:
stores = pd.read_csv('zach_stores.csv')
stores.head()

,Unnamed: 0,store_address,store_city,store_id,store_state,store_zipcode
0,0,12125 Alamo Ranch Pkwy,San Antonio,1,TX,78253
1,1,9255 FM 471 West,San Antonio,2,TX,78251
2,2,2118 Fredericksburg Rdj,San Antonio,3,TX,78201
3,3,516 S Flores St,San Antonio,4,TX,78204
4,4,1520 Austin Hwy,San Antonio,5,TX,78218

In [39]:
sales = pd. read_csv('zach_items.csv')
sales.head()

,Unnamed: 0,item_brand,item_id,item_name,item_price,item_upc12,item_upc14
0,0,Riceland,1,Riceland American Jazmine Rice,0.84,35200264013,35200264013
1,1,Caress,2,Caress Velvet Bliss Ultra Silkening Beauty Bar...,6.44,11111065925,11111065925
2,2,Earths Best,3,Earths Best Organic Fruit Yogurt Smoothie Mixe...,2.43,23923330139,23923330139
3,3,Boars Head,4,Boars Head Sliced White American Cheese - 120 Ct,3.14,208528800007,208528800007
4,4,Back To Nature,5,Back To Nature Gluten Free White Cheddar Rice ...,2.61,759283100036,759283100036

<div class="alert alert-block alert-warning"></div>

# Question #5. Combine the data from your three separate dataframes into one large dataframe.

In [41]:
# Merge sales with stores
zach_complete_df = sales.merge(stores, left_on='store', right_on='store_id')

KeyError: 'store'

In [ ]:
# Merge sales and stores on items
zach_complete_df = zach_complete_df.merge(items, left_on='item', right_on='item_id')

In [ ]:
zach_complete_df.shape