In [1]:
import requests
import pandas as pd
import os
from env import host, user, password

### Project Breakdown:

1. Data in CSV needed to be formatted.  I chose to formatt in excel.   


2. In excel only 8 of 248 daily food logs were recorded.  With 97% of data missing I decided to drop the food log columns.'Calories_in' was also dropped for the same reason.   


3. There are 22 missing rows of data at the end of the dataframe.  The last activity entries were 12/6.  Because no activity entries have been missing in the dataset I chose to delete the missing values after 12/6.    


4. This leaves me with a df that is 10 colums by 225 rows (or 225 days worth of data)
   - 1 day = 1 row

In [2]:
df = pd.read_csv('time_series_project.csv')
df.head()

,date,calories_burned,steps,distance,floors,mins_sedentary,mins_light_active,mins_fairly_active,mins_very_active,activity_calories
0,4/26/18,2635.0,2931.0,1.38,2.0,1347.0,93.0,0.0,0.0,566.0
1,4/27/18,3649.0,9971.0,4.70,19.0,1158.0,219.0,46.0,17.0,1752.0
2,4/28/18,3379.0,3521.0,1.66,2.0,702.0,155.0,22.0,11.0,1124.0
3,4/29/18,2851.0,1639.0,0.77,0.0,891.0,122.0,0.0,0.0,602.0
4,4/30/18,2825.0,1323.0,0.62,0.0,880.0,104.0,0.0,0.0,540.0

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 247 entries, 0 to 246
Data columns (total 10 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   date                225 non-null    object
 1   calories_burned     225 non-null    float64
 2   steps               225 non-null    float64
 3   distance            225 non-null    float64
 4   floors              225 non-null    float64
 5   mins_sedentary      225 non-null    float64
 6   mins_light_active   225 non-null    float64
 7   mins_fairly_active  225 non-null    float64
 8   mins_very_active    225 non-null    float64
 9   activity_calories   225 non-null    float64
dtypes: float64(9), object(1)
memory usage: 19.4+ KB

# Lets Build a Function to Formatt DF

### Step #1. Convert to Datetime and Reset Index

In [4]:
# Convert to Datetime
df.date = pd.to_datetime(df.date)
# Reset Index
df = df.set_index('date').sort_index()
df.head()

,calories_burned,steps,distance,floors,mins_sedentary,mins_light_active,mins_fairly_active,mins_very_active,activity_calories
date,,,,,,,,,
2018-04-26,2635.0,2931.0,1.38,2.0,1347.0,93.0,0.0,0.0,566.0
2018-04-27,3649.0,9971.0,4.70,19.0,1158.0,219.0,46.0,17.0,1752.0
2018-04-28,3379.0,3521.0,1.66,2.0,702.0,155.0,22.0,11.0,1124.0
2018-04-29,2851.0,1639.0,0.77,0.0,891.0,122.0,0.0,0.0,602.0
2018-04-30,2825.0,1323.0,0.62,0.0,880.0,104.0,0.0,0.0,540.0

In [ ]:
### Step #2. C