In [2]:
import pandas as pd

In [11]:
#df = pd.read_csv('2018-04-26_through_2018-05-26.csv')
df = pd.read_csv('2018-04-26_through_2018-05-26.csv', sep='delimiter', header=None, engine = 'python')

In [8]:
df

                        0
0                   Foods
1        Date,Calories In
2        "2018-04-26","0"
3        "2018-04-27","0"
4        "2018-04-28","0"
..                    ...
340      "","Fiber","0 g"
341      "","Carbs","0 g"
342    "","Sodium","0 mg"
343    "","Protein","0 g"
344  "","Water","0 fl oz"

[345 rows x 1 columns]